/CPlusPlusPrimer.pro.user
/cpp-primer-5th-edition-master/
/Cpp-Primer-5th-Exercises-master/
/HelloWorld/HelloWorld.pro.user
/HelloWorld/HelloWorld.pro.user.68bbbac
/HelloWorld/HelloWorld.pro.user.a266d9e
*.exe
/CMakeExample/build/
/exploringBB-version2/
/OOP/build/
